body {
	font-family: 'Work Sans', sans-serif;
	/*background: linear-gradient(#ffffff, #DCDCDC);*/
	/*background: url(../images/marble1.jpg) no-repeat;
	padding-top: 100px;
	background-size: cover;*/
	background-color: rgb(232,232,232);
}

.navbar, .button {

}

.navbar-light .navbar-toggler {
	border-color: transparent;
}

.button {
	border: 1px transparent;
	border-color: transparent;
	outline: 0;
}

/*.button:focus {

}*/

.navbar-menu {
	background-color: transparent;
	-webkit-box-shadow: none; 
    box-shadow: none; 
}

.navbar-link::after {
    border: 1px solid #363636;
    border-right: 0;
    border-top: 0;
}

#resume-body{
	padding-top: 50px;
}