body {
	font-family: 'Work Sans', sans-serif;
	background-color: rgb(232,232,232);
}

hr {
	border-top: 1px solid rgba(0,0,0,.3);
}


.button {
	border: 1px transparent;
	border-color: transparent;
	outline: 0;
}

.col-sm img, .col-sm-3 img, .col-sm-4 img {
	margin-top: 8px;
}


.custom-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.custom-column img {
  margin-top: 8px;
  vertical-align: middle;
}

.footer {
	position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    padding-top: 10px;
}

.navbar-light .navbar-toggler {
	border-color: transparent;
}

.navbar-menu {
	background-color: transparent;
	-webkit-box-shadow: none; 
    box-shadow: none; 
}

.navbar-link::after {
    border: 1px solid #363636;
    border-right: 0;
    border-top: 0;
}

.rounded {
	    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.work-title {
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration-line: underline;
}

#contact{
	padding: 75px 0 75px 0;
}

#meeting-title {
    text-decoration-line: underline;
}

#resume-body {
  padding: 0 15px;
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .h1 {
    font-size: 2.0rem;
  }
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}